.dashboard {
    padding: 20px;
    text-align: center;
  }
  h2{
    color : black;
  }
  
  .dashboard-buttons {
    margin: 20px 0;
  }
  
  .dashboard-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update {
    background-color: #4CAF50;
    color: white;
  }
  
  .delete {
    background-color: #f44336;
    color: white;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirmation-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: #f44336;
    color: white;
  }
  
  .cancel-button {
    background-color: #ccc;
  }
 