@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=logout');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: url('./src/assets/backgroundFinal1.png')no-repeat;
    background-size: cover;
    background-position: center;

}
code{
    font-family: source-code-pro,Menlo,Monaco,Consolas,'Courier New',monospace;
}
